.image-load .card-header {
    padding: 0px;
}
.image-load .card-header .btn-close {
    border: none;
}

.image-remove {
    border: 5px inset red;
}

input[type="file"] {
    padding: 0;
    height: auto;
}
